.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid #21bf96 !important;
}

.ant-menu-horizontal > .ant-menu-item-selected a,
.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #21bf96 !important;
}

.ant-modal-content {
  overflow: auto;
  border-radius: 1rem;
}

/* cards */
.cards-container {
  padding-top: 1px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 50px;
}
.cards {
  border: 1px solid;
  margin-right: 10px;
  height: 250px;
  width: 200px;
}

.cards-name {
  text-align: center;
}

.cards-container img:hover {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  background-color: rgb(23, 105, 21);
  cursor: pointer;
  transform: scale(1.08);
  transition: transform 0.3s;
}

.card-details {
  margin: 20px 250px;
  box-shadow: 6px 8px 5px 3px #dee8e0;
}
.card-details img {
  width: 150px;
}
.card-details span {
  font-weight: 900;
  color: rgb(34, 31, 31);
}
.card-details a {
  color: green;
  text-decoration: none;
  font-size: 20px;
}
.card-details a:hover {
  cursor: pointer;
  font-size: 25px;
  transition: all 0.3s;
  color: red;
}

/* EmblaCarrousel */
.embla {
  position: relative;
  /* background-color: #f7f7f7; */
  padding: 20px;
  max-width: 670px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.embla__viewport {
  overflow: visible;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  height: 100%;
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
}

.embla__slide {
  height: 100%;
  position: relative;
  flex: 0 0 100%;
  /* min-width: 100%; */
 
  /* object-fit: scale-down; */
  padding-left: 10px;
}

.embla__slide__inner {
  position: relative;
  overflow: hidden;
  height: 250px;
}

.embla__slide__img {
  position: absolute;
  display: block;
  object-fit: contain;
  border-radius: 5%;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
}

.embla__button {
  outline: 0;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  fill: #1bcacd;
  padding: 0;
}

.embla__button:disabled {
  cursor: default;
  opacity: 0.3;
}

.embla__button__svg {
  width: 100%;
  height: 100%;
}

.embla__button--prev {
  left: 27px;
}

.embla__button--next {
  right: 27px;
}

/* unityForest */
.wrapper {
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.unity-container {
  position: relative;
  width: 100%;
  padding-bottom: 60%;
  background-color: rgb(145, 145, 145);
}

.loading-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgb(51, 48, 48);
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  width: 100px;
  height: 10px;
  background-color: rgb(99, 99, 99);
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 10px;
  background-color: rgb(190, 190, 190);
  transition: width 0.5s ease;
}

.unity-canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}




